body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ddd{
    width: 120px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    animation-duration: 5s;
}
.div1{
    background-color: red;
    animation-name: walk1;
    top: 0;
}
@keyframes walk1 {
    0%{
        left: 0%;
    }  
    25%{
        top: 219px;
        left: 89%;
    }
    50%{
        top: 219px;
        left: 10%;
    }   
    100%{
        left: 0%;
    }
}
.div2{
    background-color: blue;
    top: 73px;
    animation-name: walk2;
    animation-duration: 3s;
    animation-delay: 5.25s;
}
@keyframes walk2 {
    0%{
        left: 0%;
    } 
    50%{
        left: 89%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }  
    100%{
        left: 0%;
    }
}
.div3{
    background-color: blueviolet;
    top: 146px;
    animation-name: walk3;
    animation-delay: 8.5s;
}
@keyframes walk3 {
    0%{
        left: 0%;
    }
    25%{
        top: 438px;
        left: 89%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    50%{
        top: 438px;
        left: 20%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    100%{
        left: 0%;
    }
}
.div4{
    background-color: goldenrod;
    top: 219px;
    animation-name: walk4;
    animation-delay: 13.75s;
}
@keyframes walk4 {
    0%{
        left: 0%;
    }    
    25%{
        top: 0px;
        left: 89%;
    }
    50%{
        top: 0px;
        left: 10%;
    }
    100%{
        top: 219px;
        left: 0%;
    }
}
.d5{
    top: 292px;
    animation-name: walk5;
}
@keyframes walk5 {
    0%{
        left: 0%;
    }    
    25%{
        top: 511px;
        left: 89%;
    }
    50%{
        top: 511px;
        left: 10%;
    }
    100%{
        left: 0%;
    }
}
.d6{
    top: 365px;
}
.d7{
    top: 438px;
    animation-name: walk7;
}
@keyframes walk7 {
    0%{
        left: 0%;
    }    
    25%{
        top: 146px;
        left: 89%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    50%{
        top: 146px;
        left: 20%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    100%{
        left: 0%;
    }
}
.d8{
    top: 511px;
    animation-name: walk8;
}
@keyframes walk8 {
    0%{
        left: 0%;
    }    
    25%{
        top: 292px;
        left: 89%;
    }
    50%{
        top: 292px;
        left: 10%;
    }
    100%{
        top: 511px;
        left: 0%;
    }
}
.clearfix{
    clear: both;
}
.parent{
    animation-name: disappear;
    animation-delay: 18.90s;
    animation-duration: .10s;
    animation-fill-mode: forwards;
}
@keyframes disappear {
    100%{
        opacity: 0;
    }
}
h2{
    text-align: center;
    font-size: 50px;
    margin-top: -60px;
    animation-name: thanks;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-delay: 19s;
}
@keyframes thanks {
    0%{
        opacity: 0;
    }
    25%{
        margin-top: 250px;
        opacity: .5;
    }
    80%{
        margin-top: 250px;
        font-size: 80px;
        color: blueviolet;
        opacity: 1;
    }
    100%{
        margin-top: 250px;
        font-size: 80px;
        color: blueviolet;
        opacity: 0;
    }
}
